profile-photo {
    .div-main {
        width: 100%;
        text-align: center;
    }

    .photo {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

    .photo-pet {
        border-radius: 50%;
        width: 85px;
        height: 85px;
    }
}
